body{
	font-family: verdana; 
}

td.titulo{
	text-align: right;
}

input{
	border-style: solid; 
	border-width: 1px; 
	border-radius: 7px; 
	margin: 5px;
	padding: 3px;  
}

input#enviar {
	padding: 9px; 
	font-size: 15px; 
}